<a href="https://colab.research.google.com/github/chjameskumar/Mentor_Task_2/blob/main/cars_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [4]:
data = pd.read_csv('cars_class.csv')

In [7]:
data.head(10)

,ID,Comp,Circ,D.Circ,Rad.Ra,Pr.Axis.Ra,Max.L.Ra,Scat.Ra,Elong,Pr.Axis.Rect,Max.L.Rect,Sc.Var.Maxis,Sc.Var.maxis,Ra.Gyr,Skew.Maxis,Skew.maxis,Kurt.maxis,Kurt.Maxis,Holl.Ra,Class
0,1,88,39,70,166,66,7,148,44,19,134,167,332,143,69,5,13,193,201,0
1,2,85,35,64,129,57,6,116,57,17,125,138,200,123,65,1,23,196,203,3
2,3,91,41,84,141,57,9,149,45,19,143,170,330,158,72,9,14,189,199,3
3,4,102,54,98,177,56,10,219,31,25,171,219,706,223,72,5,17,186,196,1
4,5,87,39,74,152,58,6,151,44,19,136,174,337,140,70,1,33,187,196,2
5,6,95,46,76,162,66,11,162,42,20,155,175,381,172,74,8,4,184,193,3
6,7,97,35,66,151,64,8,128,52,18,129,148,246,112,66,6,2,195,200,3
7,8,96,37,74,199,74,5,165,39,20,128,188,419,136,72,1,3,196,200,0
8,9,107,55,98,199,59,7,240,27,26,168,258,866,245,80,3,1,186,184,0
9,10,86,38,89,176,59,9,169,39,20,132,190,428,148,67,7,33,193,202,1